torch
torchvision
torchaudio
scikit-learn
matplotlib
tensorflow
jupyter
nltk
pandas
flask
flask_cors
langchain
langchain_community
streamlit
langserve
fastapi
uvicorn
sse_starlette
pypdf
chromadb
faiss-cpu
python-dotenv
langchain_groq
langchain_objectbox
langchain_google_genai
langchain_huggingface